.tarjeta{
    width: 140px;
    height: 150px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.90);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    display: flex;
    justify-content: center;
}

.itemIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.titulo{
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 15px;
}

.boton{
    width: 30px;
    border: none;
    background-color: rgba(226, 226, 226, 1);
    border-radius: 5px;
    height: 35px;
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contador{
    width: 80px;
    background-color:'#E2E2E2';
    border: none;
    text-align: center;
    height: 35px;
}

.InfoCard{
    position: absolute;
    display: grid;
    align-items: center;
}

.DatosInfoCard{
    display: grid;
    align-items: center;
    width: 100px;
    height: 130px;
    border: none;
    text-align: center;
    background-color: rgba(226, 226, 226, 1);
    border-radius: 10px;
}

.tituloCard{
    font-size: 15px;
    color:black;
}