.boxBotones{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultados{
    width: 250px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}