.boxBotones{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear{
    width: 222.21px;
    height: 61.16px;
    background: #FFFFFF;
    border: 2px solid #FD9255;
    border-radius: 5px;
    color: rgba(34, 34, 34, 1);
}

.calculate{
    width: 222.21px;
    height: 61.16px;
    background: #FD9255;
    border-radius: 5px;
    border: none;
}

.informacion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: '#454545';
}
.resultados{
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px;
    background-color: rgba(226, 226, 226, 1);
    border-radius: 10px;
}