.tarjeta{
    width: 180px;
    height: 150px;
    border: 1px solid black;
    background-color: aqua;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.titulo{
    font-size: 12px;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45%;
}

.tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contador{
    width: 100px;
}